header {
    margin-bottom: 3vw;
    background-color: black;
    color: white;
    height: 15vh;
    display: flex;
    align-items: center;
}

header > h1 {
    margin-left: 2vw;
}

header > button {
    position: absolute;
    right: 0;
}