@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.display {
    border-top: 1px solid #F3B700;
    width: 98%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    border-radius: 2rem;
}

.movies {
    background-color: white;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    row-gap: .5vw;
    column-gap: .5vh;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    bottom: 0;
}

.movie {
    width : 250px !important;
}

.img {
    width: 250px;
    height: 320px;
    position: relative;
}

.movie-poster {
    width: 250px;
    height: 320px;
}

.note {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid rgba(211, 190, 97, 0.6);
    background-color: rgba(211, 190, 97, 0.9);;
    margin: 3px;
    padding: 3px;
    border-radius: 50%;
}

.flag {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
}


.hover-part {
    position: absolute;
    color: white;
    display: none;
    top: 0;
}

.img:hover .movie-poster{
    filter: brightness(25%);
    border-radius: .2rem;
}

.img:hover .hover-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 250px;
    height: 320px;
}

.img:hover .movie-title {
    display: none;
}

.img:hover .note {
    color: black;
}

.hover-part > .click {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    margin-bottom: 5px;
}

.hover-part > .director {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    width: 150px;
    font-family: 'Noto Sans', sans-serif;
}

.hover-part > .plot {
    position: absolute;
    left: 50%;
    text-align: justify;
    transform: translateX(-50%);
    width: 210px;
    font-family: 'Noto Sans', sans-serif;
}

.movie-title {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    height: 5vh;
    line-height: 5vh;
    width: 250px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 900;
    letter-spacing: -.5px;
}

.delete {
    position: absolute;
    bottom: 0;
    left: 50;
    transform: translateX(-50%);
    width: 250px;
    height: 5vh;
    background-color: rgba(250, 0, 0, 0.6);
    border: none;
    color: white;
    margin-bottom: 2vh;
    font-family: 'Noto Sans', sans-serif;
    z-index: 999999 !important;
}

.delete:hover {
    background-color: rgba(250, 0, 0, 0.8);
}

.delete:active {
    border: 1px solid black;
}

.error {
    font-family: 'Noto Sans', sans-serif;
    color:rgba(255, 0, 0, 1);
    font-size: 2rem;
}